// Place all the styles related to the content controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
a{
  text-decoration: none;
  padding-left: 10px;
}
h1{
  color: blue;
}
h2{
  font-size: 20px;
}
.contenttext {
  border-bottom: solid 1px black;
}
